@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --orange: #ffa500;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

::selection {
    background: var(--orange);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
}

.heading span {
    font-size: 3rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: 1rem 1rem;  
}

.heading span .space {
    background: none;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

header .logo span {
    color: var(--orange);
}

header .navbar a {
    color: #fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover, header .icons i:hover, .header .search-bar-container label:hover {
    color: var(--orange);
}

header .icons i {
    color: #fff;
    font-size: 2.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

header .search-bar-container {
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

body {
    height: 200rem;
}

#menu-bar {
    color: #fff;
    border: .5rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .video-container video {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls {
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .7);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .5rem;
}

.btn-discover {
    background: var(--orange);
    color: #fff;
    margin-top: 50px;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-discover:hover {
    background: darkorange;
    transform: scale(1.05);
    color: #fff;
}

.home .controls .vid-btn.active {
    background: var(--orange); 
}

.book .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .image {
    flex: 1 1 40rem;
}

.book .row .image img {
    width: 100%;
}

.book .row form {
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.book .row form .inputbox {
    padding: .5rem 0;
}

.book .row form .inputbox input {
    width: 100%;
    padding: 1rem;
    border: 1rem solid rgba(0, 0, 0, .1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.book .row form .inputbox h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.packages .box-container .box{
   flex: 1 1 30rem;
   border-radius: .5rem;
   overflow: hidden;

   box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.packages .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
 }

 .packages .box-container .box a{    
    
        display: inline-block;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        color: #fff;
        background: var(--orange);
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    
 }
 .packages .box-container .box a:hover {
        background: darkorange;
        transform: scale(1.05);
        box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.3);
    }
.packages .box-container .box .content{
    padding: 2rem;
}

.packages .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}

.packages .box-container .box .content h3 i{
    color: var(--orange)
}

.packages .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;  
    padding: 1rem  0;
}

.packages .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--orange);
    padding-bottom: 1rem;
} 
.review-slider {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background: #fff;
    max-width: 350px;
    transition: 0.3s ease-in-out;
}

.review-slider .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.review-slider .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid #ff7f50; 
    
}

.review-slider .box h3 {
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}

.review-slider .box p {
    color: #666;
    font-size: 1.3rem;
    padding: 1rem 0;
    line-height: 1.5;
}
#logoutBtn {
    padding: 5px 12px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.review-slider .box .stars i {
    color: var(--orange); 
    font-size: 1.7rem;
}
.swal-wide {
    width: 40em !important; 
    font-size: 1.2rem;
    
  }

.footer{
    background: #333;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap ;
    gap: 1.5rem;
}
.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: .7rem 0;
    color: #fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .box-container .box a:hover{
    color: var(--orange);
    text-decoration:underline ;
}
.footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(255, 255, 255, .2);
}
.footer .credit span{
   color: var(--orange); 
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a {
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
}

@media (max-width: 677px) {
    html {
        font-size: 55%;
    }
    .heading span {
        font-size: 2.5rem;
    }
        .review-slider .box {
          text-align: center !important;
        }
      
        .review-slider .box img {
          display: block;
          margin: 0 auto;
        }
      }
      
      .icons i {
        font-size: 18px;
        cursor: pointer;
      }
      .icons  {
       margin-left: 5px;
      }
      

      .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      
      .tooltip .tooltip-text {
        visibility: hidden;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 4px;
        white-space: nowrap;
      
        position: absolute;
        z-index: 1;
        bottom: 100%; 
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltip-text::after {
        content: '';
        position: absolute;
        top: 100%; 
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
        font-size: 12px;
      }
      
 